In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Rikitea,-23.1203,-134.9692,78.24,72,100,6.71,PF,2021-04-27 02:47:32
1,1,Bluff,-46.6000,168.3333,46.99,69,90,8.99,NZ,2021-04-27 02:47:32
2,2,Butaritari,3.0707,172.7902,82.87,75,54,11.34,KI,2021-04-27 02:47:32
3,3,Tuatapere,-46.1333,167.6833,46.99,69,95,8.99,NZ,2021-04-27 02:44:43
4,4,Lompoc,34.6391,-120.4579,53.60,71,1,14.97,US,2021-04-27 02:47:33

In [4]:
city_data_df = pd.DataFrame(city_data_df[['City',
                        'Country',
                        'Date',
                        'Lat',
                        'Lng',
                        'Max Temp',
                        'Humidity', 
                        'Cloudiness',
                        'Wind Speed']])
# df = df[["C", "A", "B"]]
city_data_df.head()

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,Rikitea,PF,2021-04-27 02:47:32,-23.1203,-134.9692,78.24,72,100,6.71
1,Bluff,NZ,2021-04-27 02:47:32,-46.6000,168.3333,46.99,69,90,8.99
2,Butaritari,KI,2021-04-27 02:47:32,3.0707,172.7902,82.87,75,54,11.34
3,Tuatapere,NZ,2021-04-27 02:44:43,-46.1333,167.6833,46.99,69,95,8.99
4,Lompoc,US,2021-04-27 02:47:33,34.6391,-120.4579,53.60,71,1,14.97

In [5]:
city_data_df.dtypes

City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [6]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [14]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,Rikitea,PF,2021-04-27 02:47:32,-23.1203,-134.9692,78.24,72,100,6.71
2,Butaritari,KI,2021-04-27 02:47:32,3.0707,172.7902,82.87,75,54,11.34
12,Vaini,TO,2021-04-27 02:47:34,-21.2000,-175.2000,75.20,94,90,5.75
14,Pundaguitan,PH,2021-04-27 02:47:35,6.3711,126.1689,81.82,73,62,8.30
15,Souillac,MU,2021-04-27 02:47:35,-20.5167,57.5167,77.00,88,75,8.05
19,Kavaratti,IN,2021-04-27 02:47:36,10.5669,72.6420,84.56,72,10,7.85
26,Avarua,CK,2021-04-27 02:47:38,-21.2078,-159.7750,82.40,74,40,3.44
28,Kapaa,US,2021-04-27 02:43:47,22.0752,-159.3190,77.00,65,20,8.05
29,Georgetown,MY,2021-04-27 02:43:37,5.4112,100.3354,80.60,83,20,3.44
30,Harper,LR,2021-04-27 02:47:38,4.3750,-7.7169,79.70,84,35,6.24

In [15]:
preferred_cities_df.count()

City          161
Country       161
Date          161
Lat           161
Lng           161
Max Temp      161
Humidity      161
Cloudiness    161
Wind Speed    161
dtype: int64

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
0       Rikitea      PF     78.24 -23.1203 -134.9692
2    Butaritari      KI     82.87   3.0707  172.7902
12        Vaini      TO     75.20 -21.2000 -175.2000
14  Pundaguitan      PH     81.82   6.3711  126.1689
15     Souillac      MU     77.00 -20.5167   57.5167
19    Kavaratti      IN     84.56  10.5669   72.6420
26       Avarua      CK     82.40 -21.2078 -159.7750
28        Kapaa      US     77.00  22.0752 -159.3190
29   Georgetown      MY     80.60   5.4112  100.3354
30       Harper      LR     79.70   4.3750   -7.7169

In [17]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [66]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [67]:
hotel_df.tail(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
505,Dwarka,IN,82.31,22.2394,68.9678,Hotel Narayan Avezika Comfort
507,Bani,DO,77.00,18.2833,-70.3333,Hospedaje Henriquez
508,Aden,YE,80.74,12.7794,45.0367,Sama Emirate Hotel
510,Nueva Gerona,CU,81.84,21.8833,-82.8000,Villa Gerona
511,Acapulco,MX,82.40,16.8634,-99.8901,HS Hotsson Smart Acapulco
512,Neiafu,TO,78.80,-18.6500,-173.9833,Mystic Sands Beachfront Accommodation
513,Tual,ID,83.12,-5.6667,132.7500,Grand Vilia Hotel
515,Dhidhdhoo,MV,84.85,6.8833,73.1000,Dhidhoo beach
522,Sulangan,PH,81.32,11.1373,123.7228,Maia's Beach Resort
529,Olinda,BR,78.80,-8.0089,-34.8553,Hotel Albergue de Olinda

In [68]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [69]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))